%transition {
  transition: all 0.3s ease;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: 1024px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

%main-title {
  @include font($weight: 400, $size: 64px);
}

%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
