.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-sm;
  justify-content: center;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}
